html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= `Home Page`
        link(rel="stylesheet", href="/styles/global.css")
    body
        include components/_navbar
             h1= `Home Page` 
        include components/_footer
